.content-editor-container {
    min-height:300px;
    max-height: 800px;
    margin-bottom: 20px;

    .content-editor {
        overflow-y: auto;

        .ql-toolbar {
            border: none;
            border-bottom: 2px solid #D9D9D9;
        }

        .ql-container {
            border: none;
            border-bottom: 2px solid #D9D9D9;
        }

        .ql-editor {
            min-height: 200px;
            padding: 10px 5px;
            font-size: 16px;
        }

        .ql-placeholder {
            color: #D9D9D9; // 플레이스홀더 색상 변경
        }

        &:focus-within .ql-toolbar,
        &:focus-within .ql-container {
            border-bottom-color: black; // 포커스 시 색상 변경
        }
    }
}
