// 변수 선언
$thumbnail-width: 182px;
$Thumbnail-height: 243px;
$Icon-size: 16px;


.snap__root {
    width:auto;
    height: auto;
    padding-top : 10px;
    box-sizing: border-box;
    letter-spacing: normal;
    text-align: left;
    font-size: 12px;
    color: #000;
    font-family: Inter;
    margin-right: 16px;


    .thumbnail__container {
        width: $thumbnail-width;
        height: $Thumbnail-height;
        display: flex;
        position: relative;
        overflow: hidden;

        .username {
            height: 20px;
            z-index: 99999;
            position: absolute;
            top: 7px;
            left: 10px;
        }

        .image__container {

            width: inherit;
            height: inherit;


            .thumbnail {
                margin: 0;
                width: inherit;
                height: inherit;
            }
        }
    }

    .ranker__name__container {
        padding : 8px 3px ;
        display: flex;
        height: auto;
        width: $thumbnail-width;
        display: flex;
        align-items: center;

        .ranking__container {
            position: relative;
            z-index: 0;
            display: inline-flex;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: center;
            justify-content: center;
            overflow: hidden;
            flex-basis: 24px;
            background-color: rgb(255, 255, 255);
            border: 1px solid rgb(243, 243, 243);
            border-radius: 50%;

            .ranking {
                font-weight: 500;
            }
        }

        .username__container {
            padding-left: 8px;
            display: flex;
            flex-direction: column;
            justify-content:center;
            align-items:center;

            .username {
                font-family: Pretendard;
                font-size: 14px;
                line-height: 22px;
                font-weight: 400;
                color: currentcolor;
                display: -webkit-box;
                overflow: hidden;
                white-space: pre-line;
                text-overflow: ellipsis;
                word-break: break-all;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
            }
        }
    }
}


