.userProfile {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  min-height: 60px;
  padding: 15px 10px 15px 5px;
  gap: 10px;

  .userProfileImage {

    .userProfileImage__Wrapper {
      height: 40px;
      width: 40px;

      img {
        border-radius:50%;
      }
    }
  }

  .userDescription {
    padding-top: 1px;

    .user_info {
      display: flex;
      align-items: center;
      margin-bottom: 1.5px;
      min-width: 47px;
      gap: 4px;
      overflow: hidden;

      .nickname__wrapper {

        .nickname {

        }
      }

      .user_level{

        .user_level__wrapper {

        }
      }

      .motto__wrapper {

      }
    }

  }
}
