.input-box {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    height: 60px;
    background-color: #f9f9f9;
    border-top: 1px solid #ddd;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between; /* 자식 요소들 사이에 공간을 분배 */
        width: 100%;
        max-width: 600px;
    }

    .emoticon-box {
        background-color: #f9f9f9;
        display: flex;
        align-items: center;
        margin-right : 0px;
        justify-content: flex-start; /* 부모 요소의 왼쪽에 위치 */
        max-width: 30px;
        flex : 1;
        .emoticon-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 24px;
            color: #888;
            cursor: pointer;
                .button-icon {
                    padding-bottom: 7px;
                }
        }
    }

    .input-field {
        background-color: #f9f9f9;
        display: flex;
        align-items: center;
        width: 300px;
        flex: 3;
        .text-form {
            padding: 0;
            background-color: #f9f9f9;
            border: none;
            width: 100%;
            font-size: 14px;
            height: 40px; /* 자식 요소 높이를 맞추기 위해 설정 */
            box-sizing: border-box; /* 패딩 포함 크기 계산 */
        }
    }

    .submit-comment {
        background-color: #f9f9f9;
        display: flex;
        align-items: center;
        justify-content: flex-end; /* 부모 요소의 오른쪽에 위치 */
        max-width: 30px;

        .submit-button {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 15px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            cursor: pointer;
            padding-bottom : 3px;

            .material-icons {
                font-size: 24px;
            }
        }
    }

    @media (max-width: 300px) {
        .emoticon-box {
            display: none;
        }

        .input-field {
            flex: 4; /* 더 많은 공간을 차지하도록 설정 */
        }

        .submit-comment {
            flex: 1;
        }
    }
}
