.interaction-bar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0;
    background-color: #fff;

    &__item {
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 5px 10px;
        border: 1px solid #e0e0e0;
        border-radius: 20px;
        margin-right: 10px;
        transition: background-color 0.3s, border-color 0.3s;


        .material-icons {
            font-size: 13px;
            margin-right: 5px;
            color: #000;
            transition: color 0.3s;

            &.liked {
                color: red;
            }
        }

        .interaction-bar__count {
            font-size: 12px;
            color: #424242;
            font-weight: bold;
        }
    }

    .like {
      display: flex;
      align-items: center;

      .thumb-up {
        padding-bottom: 1px;
        transition: color 0.3s;
        &.liked {
          color: #E53935;
        }
      }

      .interaction-bar__count {
      }
    }

    .share {
        display: flex;
        align-items: flex-start;
        .share-icon {
            padding-top :1px;
            font-size: 13px;
            color: #000;
        }

        .name {
            font-size: 12px;
        }
    }
}
