@import "shared/styles/mixins";

$background-color: #fff;
$border-radius: 8px;
$box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
$icon-size: 1.5rem;
$profile-img-size: 25px;
$hashtag-bg-color: #eee;
$font-size-small: 0.75rem;
$font-size-normal: 0.85rem;
$liked-color: red;
$padding-standard: 10px 10px 10px 2px;
$image-width : 170px;
$max-width : $image-width;
$image-height : $image-width * 1.3;
$text-color : rgb(110, 110, 110);


@mixin flex-center {
  display: flex;
  align-items: center;
}

@mixin circle($size) {
  width: $size;
  height: $size;
  border-radius: 50%;
}

.thumbnail-card {
  flex:1;
  display: flex;
  flex-direction: column;
  background-color: $background-color;
  width: $max-width;

  .image-container {
    position: relative;

    img {
      height: $image-height;
    }

    .like-button__container {
      position: absolute;
      bottom: 5px;
      right: 5px;
      width: auto;
      height: auto;

      .like {
        position: absolute;
        bottom: 0;
        right: 5px;
        margin: 0;

        .like-button {
          @include flex-center;
          z-index: 10;
          background-color: transparent;
          cursor: pointer;
          width: 15%;
          height: 15%;

        }
      }
    }
  }

  .content {
    padding: $padding-standard;

    .user-profile {
      @include flex-center;
      margin-bottom: 5px;

      img {
        @include circle($profile-img-size);
        margin-right: 10px;
      }

      span {
        font-weight: bold;
        font-size: 12px;
      }
    }

    .hashtags {
      margin-bottom: 10px;

      span {
        padding: 5px 0px 5px 0px;
        border-radius: 15px;
        margin-right: 5px;
        font-size: $font-size-small;
        color : #1F3EE0;
      }
    }

    .stats {
      @include flex-center;
      font-size: $font-size-normal;
      gap: 5px;

      .view__container, .like__container {

        @include centerFlex;
        gap: 3px;



        .view, .like {
          font-size: 16px;
          margin: 0;
          color : $text-color;
        }

        .view-count , .like-count {
          color : $text-color;
        }
      }


    }
  }
}
