@import "shared/styles/mixins";

.comment-card {
    background-color: #fff;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;

    .comment-header {
        display: flex;
        align-items: center;

        .avatar {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            margin-right: 8px;
        }

        .profile-info {
            font-size: 13px;
            gap: 2px;

            .level {
                font-size: 11px;
                margin-right: 4px;
            }

            .username {
                font-weight: 500;
            }

            .timestamp {
                font-size: 10px;
                padding: 5px;
                color: #999;
            }
        }
    }

    .comment-content {
        font-size: 13px;
        margin-top: 8px;
    }

    .reply-list {
        margin-top: 8px;

        .reply-card {
            margin-bottom: 8px;
        }
    }

    .comment-meta {
        margin-top: 16px;
        display: flex;
        align-items: center;

        .reply-button__wrapper {
            @include centerFlex;

            .reply-button {
                cursor: pointer;
                font-size: 14px;
                padding-bottom: 6px;
                background-color: white;
                color: #161616;
            }

            .reply-count {
                padding-top: 2px;
                margin-left: 3px;
                font-size: 12px;
            }
        }

        .like-button {
            display: flex;
            align-items: center;
            margin-left: 16px;

            .like-button__wrapper {
                cursor: pointer;

                .like {
                    margin-right: 1px;
                    font-size: 18px;
                }
            }

            .like-count {
                padding-top: 1px;
                font-size: 12px;
                margin-left: 2px;
                font-weight: bold;
            }
        }
    }
}



